services:
  app:
    container_name: spring-api
    build: .
    expose:
      - "8080"
    environment:
      - TZ=Asia/Seoul
      - PROFILES=${PROFILES:?PROFILES environment variable is not set}
    volumes:
      - ./server/config/application.yml:/app/config/application.yml:ro
    restart: always


  nginx:
    container_name: nginx-proxy
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # 1. Nginx 설정 파일
      - ./nginx/conf.d:/etc/nginx/conf.d
      # 2. SSL 인증서 저장소 (프로젝트 내 certbot 폴더 공유)
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - app
    # 6시간마다 Nginx 설정 재로딩 (인증서 갱신 반영)
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    restart: always

  # Certbot (SSL 인증서 발급/갱신 봇)
  certbot:
    container_name: certbot
    image: certbot/certbot
    volumes:
      # Nginx와 동일한 인증서 볼륨 공유
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    # 12시간마다 갱신 시도
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"