name: Production Server Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    
    env:
      PROFILES: prod

    defaults:
      run:
        working-directory: ./server

    steps:
      - name: Fix permissions
        run: |
          sudo chown -R $USER:$USER .

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            server
	    .github

      - name: Make application.yml
        run: |
          mkdir -p ./server/config
          echo "${{ secrets.APPLICATION_YML }}" > ./server/config/application.yml

      - name: Deploy with Docker Compose
        run: |
          docker compose up -d --build

      - name: Clean up unused Docker images
        run: |
          docker image prune -f
