name: Production Server Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    
    env:
      PROFILES: prod

    defaults:
      run:
        working-directory: ./server

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Make application.yml
        run: |
          echo "${{ secrets.APPLICATION_YML }}" > ./server/resources/application.yml

      - name: Deploy with Docker Compose
        run: |
          docker compose up -d --build

      - name: Clean up unused Docker images
        run: |
          docker image prune -f
