name: Production Server Deploy

on:
  push:
    branches: [ "main" ]
    paths:
      - 'server/**'

jobs:
  deploy:
    runs-on: self-hosted
    
    env:
      PROFILES: prod

    steps:
      - name: Fix permissions
        run: |
          sudo chown -R $USER:$USER .

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            server

      - name: Make application.yml
        working-directory: ./server
        run: |
          mkdir -p ./config
          rm -rf ./config/application.yml
          echo "${{ secrets.APPLICATION_YML }}" > ./config/application.yml

      - name: Deploy with Docker Compose
        working-directory: ./server 
        run: |
          docker compose up -d --build

      - name: Clean up unused Docker images
        run: |
          docker image prune -f
